<ion-content>
    <ion-grid>
        <h1>TIN TỨC NỘI BỘ</h1>
        <ion-row wrap padding>

            <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <!-- <button ion-button button-clear clear (click)=""></button> -->
                <!-- <img padding-bottom [src]="data.logo" *ngIf="data.logo != null"> -->
                <ion-icon item-left></ion-icon>
                <ion-item transparent>
                    <ion-label floating>Username</ion-label>
                    <ion-input required type="text" [(ngModel)]="username"></ion-input>
                    <ion-label error-field color="secondary" no-margin *ngIf="!isUsernameValid">error</ion-label>
                </ion-item>
                <ion-item transparent padding-bottom>
                    <ion-label floating>Password</ion-label>
                    --
                    <ion-input required type="password" [(ngModel)]="password"></ion-input>
                    <ion-label error-field color="secondary" no-margin *ngIf="!isPasswordValid">error</ion-label>
                </ion-item>
                <button ion-button  class="center" button-clear-outline round outline (click)="getData()">Log in</button>

                <!-- <p>data show:{{okeoke}}{{datadata}} {{dataheader}}{{password}}</p> -->
                <!-- <button ion-button float-left button-clear-outline round outline (click)="onEvent('onRegister')">Register</button> -->
            </ion-col>
            <!-- <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 social>
              <button ion-button round outline color="facebook" (click)="onEvent('onFacebook')">Facebook</button>
              <button ion-button round outline color="twitter" (click)="onEvent('onTwitter')">Twitter</button>
              <button ion-button round outline color="google" (click)="onEvent('onGoogle')">Google</button>
              <button ion-button round outline color="pinterest" (click)="onEvent('onPinterest')">Pinterest</button>
          </ion-col> -->
        </ion-row>
    </ion-grid>
    <!-- <p>check: {{check}}</p>
  <p>status: {{status}}</p>
  <p>hearder: {{header}}</p>
  <p>data: {{data}}</p> -->
</ion-content>