.time-title{
    display: block;
    background: #e5e5e5;
    color: #7f7f7f;
    font-size: 20px;
    padding: 10px;
}

.table-timeline{
    display: block ;
    margin: 20px;
}
.title-content{
    font-weight: bold;
}
.time{
    color: green;
    padding-right: 10px;
}
.timeline{
    display: block;
}
.thanh-timeline{
    margin: 0 auto;
    background: pink;
    width: 2px;
    height: 50px;
}
.content-timeline{
    padding-left: 10px;
}
ion-icon{
    padding-right: 5px;
}
