.header div,
.header ion-icon {
    background-color: lightseagreen;
    color: white;
}

//===
profile ion-card img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

profile ion-content .icon-camera {
    margin-top: 15px;
}

profile ion-content .content-profile {
    margin: 0 auto;
}

profile ion-content .capnhat {
    text-align: right;
}

profile ion-content th {
    text-align: center;
}

profile .card-image {
    background-color: pink;
}

profile .card-image .icon-image {
    display: block;
}

profile .card-image .icon-image ion-icon {
    margin: 0 auto;
}

profile .button-update {
    margin: 10px 0 0 10px;
}.header div,
.header ion-icon {
    background-color: lightseagreen;
    color: white;
}

//===
profile ion-card img {
    border-radius: 50%;
    height: 170px;
    width: 170px;
    margin: 0 auto;
}

profile ion-content .icon-camera {
    margin-top: 15px;
}

profile ion-content .content-profile {
    margin: 0 auto;
}

profile ion-content .capnhat {
    text-align: right;
}

profile ion-content th {
    text-align: center;
}

profile .card-image {
    background-color: pink;
}

profile .card-image .icon-image {
    display: block;
}

profile .card-image .icon-image ion-icon {
    margin: 0 auto;
}

profile .button-update {
    margin: 10px 0 0 10px;
}
page-page-login h1 {
    color: blue;
    margin: 0 auto;
    padding-top: 10px;
}
page-page-login ion-content h1 {
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    margin-top: 10px;
    border-bottom: solid green 2px;
    padding: 5px;
}

page-page-login ion-content ion-row {
    animation-name: fadeInLeft;
    animation-duration: 2s;
}

@keyframes fadeInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}
profile ion-buttons button {
    padding: 10px;
    border-radius: 15px;
    // color: gray;
    // background-color: olivedrab;

}

