.header div,
.header ion-icon {
    background-color: lightseagreen;
    color: white;
}

//===
profile ion-card img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

profile ion-content .icon-camera {
    margin-top: 15px;
}

profile ion-content .content-profile {
    margin: 0 auto;
}

profile ion-content .capnhat {
    text-align: right;
}

profile ion-content th {
    text-align: center;
}

profile .card-image {
    background-color: pink;
}

profile .card-image .icon-image {
    display: block;
}

profile .card-image .icon-image ion-icon {
    margin: 0 auto;
}

profile .button-update {
    margin: 10px 0 0 10px;
}.header div,
.header ion-icon {
    background-color: lightseagreen;
    color: white;
}

//===
profile ion-card img {
    border-radius: 50%;
    height: 170px;
    width: 170px;
    margin: 0 auto;
}

profile ion-content .icon-camera {
    margin-top: 15px;
}

profile ion-content .content-profile {
    margin: 0 auto;
}

profile ion-content .capnhat {
    text-align: right;
}

profile ion-content th {
    text-align: center;
}

profile .card-image {
    background-color: pink;
}

profile .card-image .icon-image {
    display: block;
}

profile .card-image .icon-image ion-icon {
    margin: 0 auto;
}

profile .button-update {
    margin: 10px 0 0 10px;
}