.newsdetail-front{
    padding: 0px 10px;
}
.newsdetail-img{
    margin-bottom: 20px;
}
img{
    width: 100%;
    height: 200px;
}
.newsdetail-subtitle{
    font-size: 18px;
}

.newsdetail-front .noidung{
    text-indent: 20px;
    font-size: 16px;
} 